*.analytics/
*.bak
*.class
*.dist-info/
*.egg-info
*.eggs/
*.logs/
*.py[co]
*.swp
*~
.DS_Store
.cache
.coverage
.idea
.ipynb_checkpoints/
.pytest_cache/
.tox
.vagrant
.vscode
Vagrantfile
_build
bones-scripts
build
dist
htmlcov
log.txt
plots/
wintest.sh
