*.py[co]
.DS_Store
_build
build
dist
*.egg-info
*~
*.bak
*.swp
log.txt
.ipynb_checkpoints/
.cache
.tox
.vagrant
wintest.sh
Vagrantfile
*.class
*.eggs/
.coverage
htmlcov
*.dist-info/
.vscode
.idea

.pytest_cache/
*.analytics/
*.logs/
*.plots/
nengo_loihi/snips/nengo_io.c

# For .ipynb examples
*.pdf
examples/communication_channel.py
examples/integrator.py
examples/integrator_multi_d.py
examples/oscillator.py
examples/oscillator_nonlinear.py
